*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @font-face {
    font-family: namdinggo;
    src: url(../tipografia/Namdhinggo-ExtraBold.ttf);
  
  }